<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose sort type</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/chooseSortType/chooseSortType.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
    <header>
        <div id="logo">
            <img src="/images/startPage/logo.png" alt="logo">
            <span id="group-queue-logo-name">roupQ</span>
        </div>
    </header>

    <div class="back-container">
        <a href="/user/main_page">
            <i class="fa-solid fa-arrow-left"></i>
            Back to schedule
        </a>
    </div>

    <div class="container">
        <div class="lessons">
            <table id="lessons-table">

            </table>
        </div>

        <div class="sort-types-info">
<!--            TODO fill this div with information about sort types-->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/chooseSortType/chooseSortType.js"></script>

</body>
</html>