<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Queue</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link rel="stylesheet" href="/styles/startPage/startDesktop.css">
    <link rel="stylesheet" href="/styles/startPage/signInForm.css">
    <link rel="stylesheet" href="/styles/startPage/signUpForm.css">

</head>
<body>
<header>
    <div id="logo">
        <img src="/images/startPage/logo.png" alt="logo">
        <span id="group-queue-logo-name">roupQ</span>
    </div>

    <div id="top-right-div">
        <button id="sign-in-button" class="button empty-button">Sign in</button>
        <button id="sign-up-button" class="button dark-button">Sign up</button>
    </div>
</header>

<div class="introduction">
    <div class="info">
        <div class="text">
            <label class="label-text">
                Application is working with <a href="https://iis.bsuir.by/api">BSUIR API</a>
                <br>
                <br>
                Schedule includes only <u>labs</u> lessons
                <br>
                <br>
                To choose queue sort type click on
                <br>
                `Become group admin` in side menu
                <br>
                <br>
                Project repository is <a href="https://github.com/Badyusha/GroupQueue">here</a>
            </label>
        </div>
    </div>

    <div class="info">
        <div class="text">
            <label class="label-text">
                App's purpose is
                <br>
                to automize process of registration
                <br>
                on labs by choosing several
                <br>
                queue sorting types
            </label>
        </div>
    </div>
</div>

<!-- Overlay for dimming the background -->
<div id="overlay" class="overlay"></div>

<!-- Sign In Popup Form -->
<div id="sign-in-popup-form" class="sign-in-popup-form">
    <div class="auth-action">
        <label>Sign In</label>
    </div>

    <div class="square-separator">
        <label id="invalid-sign-in-request" for="sign-in-form-button"></label>
    </div>

    <form class="sign-in-form">
        <div class="sign-in-data-input">
            <div class="form-top-placeholder">
                <label for="sign-in-username-input">Username</label>
            </div>
            <input type="text" id="sign-in-username-input" name="username">
        </div>

        <div class="sign-in-data-input">
            <div class="form-top-password-placeholder">
                <label for="sign-in-password-input">Password</label>
            </div>
            <input type="password" id="sign-in-password-input" name="password">
        </div>

        <button type="submit" id="sign-in-form-button" class="button dark-button">Sign In</button>
    </form>

    <div class="new-to-groupqueue">
        <label>New to GroupQueue?</label>
        <button type="submit" id="sign-up-button-ref">Sign Up</button>
    </div>
</div>

<!-- Sign Up Popup Form -->
<div id="sign-up-popup-form" class="popup-form">
    <div class="auth-action">
        <label>Sign Up</label>
    </div>

    <div class="square-separator">
        <label id="invalid-sign-up-request" for="sign-in-form-button"></label>
    </div>

    <form class="sign-up-form">
        <table>
            <tr>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="first-name-input">First name</label>
                        </div>
                        <input type="text" id="first-name-input" name="first-name">
                    </div>
                </th>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="sign-up-username-input">Username</label>
                        </div>
                        <input type="text" id="sign-up-username-input" name="username">
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="last-name-input">Last name</label>
                        </div>
                        <input type="text" id="last-name-input" name="last-name">
                    </div>
                </th>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="sign-up-password-input">Password</label>
                        </div>
                        <input type="password" id="sign-up-password-input" name="sign-up-password-input">
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="group-number-input">Group number</label>
                        </div>
                        <input type="number" id="group-number-input" name="group-number-input">
                    </div>
                </th>
                <th>
                    <div class="sign-up-data-input">
                        <div class="form-top-placeholder">
                            <label for="repeated-password-input">Repeat password</label>
                        </div>
                        <input type="password" id="repeated-password-input" name="repeated-password-input">
                    </div>
                </th>
            </tr>
        </table>

        <button type="submit" id="sign-up-form-button" class="button dark-button">Sign Up</button>
    </form>

    <div class="have-account">
        <label>Already have an account?</label>
        <button type="submit" id="sign-in-button-ref">Sign In</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/start/startPageEvents.js"></script>
<script src="/js/start/signUp.js"></script>
<script src="/js/start/signIn.js"></script>

</body>
</html>