/* Popup form style */
.sign-up-popup-form {
    height: 28em;
    width: 28em;
    top: 45%;
    left: 50%;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--darkBlue);
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 2em;
    z-index: 3;
}

.auth-action {
    margin: 0.7em;
    font-size: 2.5em;
    font-weight: 600;
}

.square-separator {
    height: 3em;
    border-radius: 1.5em;
    border-top: 0.15em solid var(--headerBorder);
    margin-bottom: -2.5em;
}

#invalid-sign-up-request {
    margin-top: 0.5em;
    font-size: 0.7em;
    font-weight: 600;
    color: var(--red);
}

.sign-up-form {
    color: var(--gray);
    font-weight: 600;
}

.sign-up-form table {
    margin-top: 1.5em;
    width: 100%;
}


.sign-up-form table th {
    text-align: center;
    align-items: center;
    padding-bottom: 1em;
}

.sign-up-data-input {
    display: grid;
    justify-content: center;
    margin-top: 0;
}

.form-top-placeholder, .form-top-password-placeholder {
    font-size: 0.85em;
    text-align: left;
    align-items: end;
    display: flex;
    justify-content: space-between;
}

#first-name-input, #last-name-input,
#group-number-input, #sign-up-username-input,
#sign-up-password-input, #repeated-password-input {
    color: var(--inputText);
    font-weight: 600;
    width: 11.5em;
    height: 2em;
    background: none;
    border: 0.15em solid var(--headerBorder);
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.2em;
}

#sign-up-form-button {
    width: 27em;
    margin: 1em 0.5em 1em 0.5em;
}

.have-account {
    color: var(--gray);
    font-weight: 600;
    font-size: 0.8em;
}
