@media only screen and (min-width: 700px) {
    ::placeholder {
        color: var(--gray);
        opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Edge 12 -18 */
        color: var(--gray);
    }

    #top-right-div {
        margin-right: 0;
        color: var(--gray);
    }

    #side-menu {
        display: grid;
        align-content: space-between;
        border-left: 0.15em solid var(--headerBorder);
        border-radius: 1em 0 0 1em;
        cursor: default;
        position: fixed;
        top: 0;
        right: -19em;
        width: 18em;
        height: 100%;
        background-color: var(--darkBlue);
        color: white;
        transition: right 0.3s ease;
        overflow: hidden;
        z-index: 1;
    }
    #side-menu.active {
        right: 0;
    }

    #delete-account {
        font-size: 0.9em;
        color: var(--red);
        font-weight: 500;
        margin-bottom: 0.7em;
    }

    .username-close-btn {
        margin-top: 0.7em;
        padding: 0.7em 0.7em 0.3em 0.7em;
        display: flex;
        justify-content: space-between;
        height: 6em;
    }

    .username-full-name {
        margin-left: 1em;
        display: grid;
        text-align: left;
    }

    #full-name {
        color: white;
        font-weight: 600;
    }

    #username {
        margin-top: 0.2em;
        color: var(--inputText);
        font-size: 0.9em;
        font-weight: 500;
    }

    #group-number {
        margin-top: 1em;
    }

    #role-type {
        margin-top: 0.5em;
    }

    #group-number, #role-type {
        color: var(--inputText);
        font-size: 0.8em;
        font-weight: 500;
    }

    .close-btn {
        color: var(--headerBorder);
        font-size: 2em;
        margin-right: 0.2em;
        margin-top: -0.3em;
    }

    .horizontal-line {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 0.9em;
        width: 90%;
        height: 0.05em;
        background-color: var(--headerBorder);
    }

    .menu-variant {
        min-height: 1.5em;
        display: flex;
        align-items: center;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.5em;
        padding: 0.2em;
        gap: 0.1em;
    }

    .menu-variant:hover {
        background-color: var(--blueGray);
        border-radius: 0.5em;
    }

    #delete-account:hover {
        background-color: var(--red10perc);
        border-radius: 0.5em;
    }

    .fa-solid {
        color: var(--gray);
        min-width: 2em;
    }

    .menu-label {
        color: var(--inputText);
        font-size: 0.9em;
        font-weight: 500;
    }

    #menu-overlay, #dark-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 0;
        visibility: hidden;
        display: none;
    }

    #menu-overlay.active, #dark-overlay.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }

    #menu-overlay {
        background-color: rgba(0, 0, 0, 0.3);
    }

    #dark-overlay {
        background-color: rgba(0, 0, 0, 0.75);
    }

    .week-schedule-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
    }

    .current-week-container {
        gap: 1em;
        margin: 2em 2em 0 2em;
        display: flex;
        justify-content: space-between;
    }

    .registration-info {
        font-size: 0.95em;
        font-weight: 600;
        color: var(--inputText);
    }

    #current-week {
        color: var(--inputText);
        font-weight: 600;
    }

    .week-schedule {
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0.5em 1.2em 0 1.2em;
        background-color: var(--darkBlue);
        border: 0.15em solid var(--headerBorder);
        border-radius: 1em;
    }


    .schedule {
        vertical-align: top;
    }

    .week-schedule-table {
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
    }

    .week-schedule-table td, .week-schedule-table th {
        border-right: 0.1em solid var(--headerBorder);
        padding-top: 1em;
    }

    .week-schedule-table th {
        color: var(--inputText);
    }

    .week-schedule-table th:last-child, .week-schedule-table td:last-child {
        border-right: none;
    }

    .week {
        padding-bottom: 1em;
    }

    .lesson {
        display: flex;
        justify-content: center;
        padding-bottom: 1.7em;
    }

    .lesson-container {
        display: flex;
        justify-content: left;
        height: 5.7em;
        border: 0.1em solid var(--headerBorder);
        border-radius: 0.8em;
        width: 85%;
        background: linear-gradient(to right, var(--red) 4%, var(--blueGray) 0%);
    }

    .subject-date-cabinet-subgroup {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-left: 1.2em;
    }

    .subject-date {
        margin-top: 0.2em;
    }

    .subject-date, .subgroup{
        display: flex;
        justify-content: space-between;
        min-height: 1.2em;
    }

    .subject {
        text-align: left;
        font-size: 1.1em;
        font-weight: 600;
        color: white;
    }

    .date {
        font-size: 0.8em;
        font-weight: 500;
        color: var(--inputText);
        padding-right: 0.5em;
    }

    .subgroup {
        margin-top: -0.3em;
        font-size: 0.9em;
        font-weight: 500;
        color: var(--inputText);
    }

    .status {
        min-height: 1em;
        margin-bottom: 0.3em;
        display: flex;
        justify-content: center;
    }

    .queue-position-status, .leave-status {
        margin-right: 1em;
    }

    .leave-status {
        display: grid;
    }

    .register-to-queue, .register-to-queue:visited {
        margin-right: 1em;
        font-size: 0.7em;
        font-weight: 600;
        color: var(--inputText);
    }

    a {
        cursor: pointer;
    }

    .number-in-queue-text-status {
        margin-right: 1em;
        color: var(--inputText);
        font-size: 0.7em;
        font-weight: 600;
    }

    .registered-up-status {
        font-weight: 600;
        font-size: 0.7em;
        color: var(--inputText);
    }

    .leave-register-status {
        font-weight: 500;
        font-size: 0.68em;
        color: var(--red);
    }

    .edit-profile-label {
        color: white;
        margin-top: 1em;
        font-weight: 600;
        font-size: 2em;
    }

    .edit-profile {
        color: var(--gray);
        display: grid;
    }

    .edit-profile table {
        border-collapse: separate;
        border-spacing: 1em;
    }

    .placeholder {
        font-size: 0.85em;
        text-align: left;
        align-items: end;
        display: flex;
        justify-content: space-between;
    }

    #error-label {
        color: var(--red);
        font-size: 0.8em;
        font-weight: 600;
    }

    .register-to-queue-container {
        height: 27.7em;
        width: 22.5em;
        top: 45%;
        left: 50%;
        display: none;
        position: fixed;
        transform: translate(-50%, -50%);
        background-color: var(--darkBlue);
        box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.25);
        transition: opacity 0.5s ease, transform 0.5s ease;
        border-radius: 2em;
        z-index: 3;
    }

    .leave-lab-registration {
        height: 15em;
        width: 22.5em;
        top: 45%;
        left: 50%;
        display: none;
        position: fixed;
        transform: translate(-50%, -50%);
        background-color: var(--darkBlue);
        box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.25);
        transition: opacity 0.5s ease, transform 0.5s ease;
        border-radius: 2em;
        z-index: 3;
    }

    .register-to-queue-label {
        color: white;
        font-size: 2em;
        font-weight: 600;
    }

    .subject-info {
        max-width: 78%;
        min-width: 78%;
        margin-top: 1.7em;
        text-align: center;
        display: inline-grid;
    }

    .subject-data {
        align-items: center;
        margin-top: 0.8em;
        display: inline-flex;
        justify-content: space-between;
    }

    .subject-data label {
        color: var(--inputText);
        font-size: 0.9em;
        font-weight: 500;
    }

    .passing-labs-label {
        display: inline-grid;
    }

    .invalid-labs-list {
        max-height: 1.2em;
        min-height: 1.2em;
        margin-top: 0.2em;
        margin-bottom: 0.8em;
    }

    #invalid-labs-list-label {
        color: var(--red);
        font-size: 0.8em;
        font-weight: 600;
    }

    .leave-lab-registration-container {
        margin: 0 2em 0 2em;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }

    .leave-lab-registration-text {
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
    }

    #leave-queue-error, #delete-account-error, #become-group-admin-error {
        max-height: 1em;
        min-height: 1em;
        font-size: 0.8em;
        font-weight: 500;
        color: var(--red);
    }

    .fa-bars {
        font-size: 1.2em;
    }
}